/* GLOBAL */
.section-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

.section-subtitle {
  margin-top: 10px;
  margin-bottom: 70px;
  text-align: center;
  font-size: 16px;
  font-family: 'Lobster', cursive;
  color: #777777;
}

.content-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.content-description {
  text-align: center;
  font-size: 14px;
  color: #777777;
}

/*HEADER */
.splash {
  background-image: url(/images/Splash.png);
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  position: relative;
  color: #ffffff;
  text-align: center;
}

.splash a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.splash .navigation {
  margin-top: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.splash .navigation .menu {
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.splash .navigation .menu li {
  display: inline-block;
  list-style-type: none;
  padding-left: 40px;
}

.splash .navigation .brand {
  color: #fed136;
  font-size: 26px;
  font-family: 'Lobster', cursive;
}

.splash .splash-text {
  margin-top: 60px;
}

.splash .splash-text h1 {
  font-size: 75px;
}

.splash .splash-text h3 {
  font-size: 40px;
  font-family: 'Indie Flower', cursive;
}

.splash .btn {
  padding: 16px;
  margin: 0 auto;
  display: block;
  background-color: #fed136;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid;
  border-color: #fed136;
  width: 240px;
}

.splash::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #000000;
  opacity: 0.5;
}

/* SERVICES */
.services {
  height: 400px;
  text-align: center;
}

.services i {
  color: #fed136;
  border: 3px solid #fed136;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  line-height: 60px;
  font-size: 40px;
}

.services .service-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

/* PORTFOLIO */
.portfolio {
  height: 1050px;
  background-color: #f7f7f7;
}

.portfolio .portfolio-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolio .portfolio-content .tile {
  background: white;
  padding: 0;
  margin-bottom: 50px;
}

.portfolio .portfolio-content .tile .content-description {
  margin-top: 0;
}

.portfolio .portfolio-content .tile .content-title {
  margin-bottom: 5px;
}

.portfolio .portfolio-content .tile img {
  width: 100%;
}

/* FOOTER */
footer .row {
  margin: 15px 0;
}

footer .footer-icons {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 0;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

footer .footer-icons a {
  text-decoration: none;
}

footer .footer-icons i {
  color: #ffffff;
  border: 3px solid #000000;
  border-radius: 50%;
  background-color: #000000;
  width: 35px;
  height: 35px;
  line-height: 30px;
  font-size: 20px;
}

footer .footer-icons .list {
  padding: 0;
}

footer .footer-icons .list li {
  display: inline-block;
  list-style-type: none;
  margin-left: 15px;
}

footer .footer-icons .list li:first-of-type {
  margin-left: 0;
}

footer .footer-text {
  padding-left: 50px;
}

footer .footer-text p {
  color: #777777;
}
/*# sourceMappingURL=style.css.map */