/* GLOBAL */






/*HEADER */

.splash {
  background-image:url(/images/Splash.png);
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  position: relative;
  color: #FFFFFF;
  text-align: center;
}

.splash::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #000000;
  opacity: 0.5;
}

.splash a {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

.menu {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.menu li {
  display: inline-block;
  list-style-type: none;
  padding-left: 40px;
}

.brand {
  color: #FED136;
  font-size: 26px;
  font-family: 'Lobster', cursive;
}

.navigation {
  margin-top: 20px;
  justify-content: space-around;
  //text-align: center;
}

.splash-text {
  margin-top: 60px;
  //text-align: center;
}

.splash-text h1 {
    font-size: 75px;
}

.splash-text h3 {
  font-size: 40px;
  font-family: 'Indie Flower', cursive;
}

.btn {
  padding: 16px;
  margin: 0 auto;
  display: block;
  background-color: #FED136;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid;
  border-color: #FED136;
  width: 240px;
}

/* SERVICES */
