/* GLOBAL */

$color-white: #ffffff;
$color-black: #000000;
$color-gold: #fed136;
$color-light-purple: #f7f7f7;
$color-grey: #777777;

.section-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

.section-subtitle {
  margin-top: 10px;
  margin-bottom: 70px;
  text-align: center;
  font-size: 16px;
  font-family: 'Lobster', cursive;
  color: $color-grey;
}

.content-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.content-description {
  text-align: center;
  font-size: 14px;
  color: $color-grey;
}

/*HEADER */

.splash {
  background-image:url(../images/Splash.png);
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  color: $color-white;
  text-align: center;

  a {
    text-decoration: none;
    color: $color-white;
    cursor: pointer;
  }

  .navigation {
    margin-top: 20px;
    justify-content: space-around;

    .menu {
      display: flex;
      font-size: 14px;
      align-items: center;
      justify-content: center;

      ul {
        padding-left: 0;
      }

      li {
        display: inline-block;
        list-style-type: none;
        padding-left: 40px;

        &:first-of-type {
          padding-left: 0;
        }
      }
    }

    .brand {
      color: $color-gold;
      font-size: 26px;
      font-family: 'Lobster', cursive;
    }
  }

  .splash-text {
    margin-top: 60px;

    h1 {
        font-size: 75px;
    }

    h3 {
      font-size: 40px;
      font-family: 'Indie Flower', cursive;
    }
  }

  .btn {
    padding: 16px;
    margin: 0 auto;
    display: block;
    background-color: $color-gold;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid;
    border-color: $color-gold;
    width: 240px;
  }
}

.splash::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: $color-black;
  opacity: 0.5;
}

/* SERVICES */

.services {
  text-align: center;
  margin-bottom: 40px;

  i {
    color: $color-gold;
    border: 3px solid $color-gold;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 60px;
    font-size: 40px;
  }

  .service-content {
    display: flex;
    justify-content: center;
  }
}

/* PORTFOLIO */

.portfolio {
  background-color: $color-light-purple;

  .portfolio-content {
    justify-content: space-around;

    .tile {
      background: white;
      padding: 0;
      margin-bottom: 50px;

      .content-description {
        margin-top: 0;
      }

      .content-title {
        margin-bottom: 5px;
      }

      img {
        width: 100%;
      }
    }
  }
}

/* FOOTER */
footer {

  .row {
    margin: 15px 0;
  }

  .footer-icons {
    display: flex;
    text-align: center;
    font-size: 0;
    align-items: center;
    justify-content: center;

    a{
      text-decoration: none;
    }

    i {
      color: $color-white;
      border: 3px solid $color-black;
      border-radius: 50%;
      background-color: $color-black;
      width: 35px;
      height: 35px;
      line-height: 30px;
      font-size: 20px;
    }

    .list {
      padding: 0;

      li {
        display: inline-block;
        list-style-type: none;
        margin-left: 15px;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }

  .footer-text {
    padding-left: 50px;

    p{
      color: $color-grey;
    }
  }
}

/* MEDIA */

@media /*(min-width: 768px) and*/ (max-width: 991px) {

  /*GLOBAL */
  .section-title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .section-subtitle {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 8px;

  }

  .content-title {
    font-size: 9px;
  }

  .content-description {
    font-size: 7px;
  }

  .container {
    width: 80%;
  }

  /* SPLASH */

  .splash {
    .navigation {
      .brand {
        font-size: 10px;
      }

      .menu {
        font-size: 10px;

        li {
          padding-left: 5px;
        }
      }
    }

    ul {
      display: inline-block;
    }

    .splash-text {
      h3 {
        font-size: 15px;
      }

      h1 {
        font-size: 30px;
      }
    }

    .btn {
      width: 100px;
      font-size: 10px;
      padding: 5px;
    }
  }

  /* SERVICES */

  .services {
    margin-bottom: 20px;

    .service-content {
      flex-direction: column;
    }

    i {
      width: 50px;
      height: 50px;
      line-height: 43px;
      font-size: 25px;
    }
  }

  /* PORTFOLIO */

  .portfolio {
    .portfolio-content {
      .tile {
        margin-bottom: 20px;
      }
    }
  }

/* FOOTER */

  footer {
    .footer-icons {
      order: -1;

      i {
        width: 20px;
        height: 20px;
        line-height: 15px;
        font-size: 12px;
      }
    }

    .footer-text {
      padding: 0;

      p {
        font-size: 10px;
        text-align: center;
      }
    }
  }

}
